body {
  background-color: rgb(50, 50, 50);

}

.scaleView {
  font-family: "Roboto";
  letter-spacing: 1px;
  background-color:rgb(180,180,180);
  color:white;
}

.Anton {
  font-family:Anton;
}

ul {
  font-family: Roboto;
}

.btn-primary {
  font-family:Anton;
  width: 3em;
  cursor:pointer;
  margin-bottom:.3em;
}

.btn-secondary {
  font-family:Roboto;
}

.btn {
  cursor:pointer;
}

.fullwidth {
  width:100%;
}

.guitarContainer {
  margin-top: 2em;
  width: 100%;
  text-align: center;
  border:1px solid black;
  border-radius:5px;
  background-color: white;
}

.guitarFretBoard {
  height: 150px;
  width: 100%;
}

@media only screen and (max-width:500px){

  .guitarFretBoard {
    margin-top:1em;
    margin-bottom:1em;
    transform: rotate(90deg);
  }
}
.chordButtons {
  margin-bottom:1em;
}
