h1 {
  font-family:helvetica;
}
.helvetica {
  font-family:helvetica;
}
h3, cite {
  font-family:'Open Sans';
}
p, ul, ol {
  font-family:'Roboto';
}
h2 {
  font-family:'Open Sans';
  color:rgb(12, 151, 107);
}
a {
  cursor:pointer;
}

.headroom {
  margin-top:2em;
}
.lilheadroom {
  margin-top:1em;
}
.link {
    color: rgb(46, 209, 157);
    background-color: transparent;
    text-decoration: none;
}
.white {
  color:white;
}
.grey {
  color:rgb(150, 150, 150);
}
.lineheight {
  line-height: .75em;
}
.link:visited {
    color: rgb(244, 81, 165);
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    color: rgb(244, 81, 165);
    background-color: transparent;
    text-decoration: none;
}

.link:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.greenBG {
  background-color:rgb(46, 209, 157);
}
.heading {
  background-color:rgb(26, 189, 137);
  padding:2em 0 2em 0;

}
.fullWidth {
  width:100%;
}
.textCenter {
  text-align: center;
}
.carasel {
  width:100%;
  max-width: 500px;
}
.contact {
  margin-bottom:2em;
}
.darkGreen {
  color:rgb(12, 151, 107);
}
.pink {
  color:rgb(244, 81, 165);
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa {
  width: 35px;
  text-align:center;
  font-size: 50px;
  padding: 10px;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.faa {
  width: 35px;
  text-align:center;
  font-size: 50px;
  padding: 10px;
  text-decoration: none;
  margin: 2px 2px;
}

.calendarWidth {
  max-width: 600px;
}
.containerWidth {
  max-width:800px;
}
.smallWidth {
  max-width:300px;
}
.goose {
  height:300px;
  width:auto;
}
.header {
  padding-top:7em;
  padding-bottom:1em;

}
.schedule a {
  width:100%;
}
.schedule ul {
  color:rgb(244, 81, 165);;
}
.schedule li {
  background-color: rgb(125,125,125);
  background-color: rgba(125,125,125,.5);
  list-style:none;
  text-align:center;

}

.paralax {
  background-image:url(img/IMG_0188.png);
  min-height:700px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paralax2 {
    background-image:url(img/IMG_2817.png);
    min-height:600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paralax3 {
  background-image:url(img/mother+goose.png);
  min-height:400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paratype {
  background-color:rgba(125,125,125,.5);
  width:100%;
  padding-bottom:1.1em;
}
.halfway {
  padding-top:30%;

}

.dtnavul {
  list-style: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:rgb(128,128,128);
  background-color:rgba(70,70,70,.7);
  position:fixed;
  top: 0;
  width:100%;
  z-index:1;
}
.dtnavli {
  float:left;
  text-decoration: none;
  cursor:pointer;
}
.dtnavli:active {
  color:white;
  text-decoration:none;
}
.dtnava {
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
}
.dtnava a {
  text-decoration: none;
  color:white;
}
.dtnavsocial {
  float: right;
  display:inline-block;
  margin:7px 5px;
}
.dtnavphone {
  float: right;
  display: block;
  padding: 14px 16px;
  color:white;
}
a.dtnavphone:hover {
  color:white;
  text-decoration: none;
}
.dtnava:hover {
  color:white;
  background-color:rgb(12, 151, 107);
  text-decoration: none;
}
.dtnava:active {
  text-decoration: none;
  color: white;
}
.dtactive {
  background-color: rgb(244, 81, 165);
  background-color:rgba(244, 81, 165,5);
  text-decoration: none;
  color:white;
}
.dtlia, .dtdropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dtlia:hover, .dtdropdown:hover .dtdropbtn {
    color:white;
    background-color:rgb(12, 151, 107) ;
    text-decoration: none;
    cursor: pointer;
}

.dtli.dtdropdown {
    display: inline-block;
}
.dtlia:active {
  text-decoration:none;
}

.dtdropdown-content {
    display: none;
    position: fixed;
    background-color: rgb(12, 151, 107);
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
}

.dtdropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor:pointer;
}

.dtdropdown-content a:hover {
    background-color: #f1f1f1;
    color:grey;
    cursor:pointer;
}

.dtdropdown:hover .dtdropdown-content {
    display: block;
}

.navMenu {
  list-style: none;
  position: fixed;
  background-color: rgb(125,125,125);
  background-color: rgba(60,60,60,.8);
  width:100%;
  z-index: 2;
  padding: 0;
  margin:0;
}
.navMainButton {
  display:inline-block;
  padding:15px 10px 15px 10px;
  float:left;
}
.navMainButton a {
  padding:10px;
  color:white;
  text-decoration: none;
}

.navDropButton {
  color:white;

  float: right;
  cursor:pointer;
}
.subMenu a {
  display:inline-block;
  color:white;
  text-decoration: none;

}
.navSubButton{
  width: 100%;
  padding:15px 10px 15px 30px;
  float: left;
  display: block;
}
.navSubButton.phone {
  padding:10px;
  text-align:center;
}
.navSubButton.fa {
  max-width: 100%;
  text-align: center;
  padding:10px;
  border-radius:0;
}
.active {
  background-color:rgb(244, 81, 165);
  background-color:rgba(244, 81, 165,.9);
}
.navDropButton.active {
  color:rgb(244, 81, 165);
  background-color: inherit;
}
@media only screen and (min-width:992px) {
  #shirleys {
    margin-top: 55px;
    padding:0 0 0 50px;
  }


}
@media only screen and (min-width: 432px) {
  .header {
    padding-bottom:1em;

  }

}
@media only screen and (min-width: 768px) {
  .hideheader {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .paralax {
    display:none;
  }
  .paralax2 {
    display:none;
  }
  .gooseBar {
    display:none;
  }
}
