h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton';
  font-weight: 100;
}

p, li, body {
  font-family: 'Roboto';
}

.main-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background: $fill2;
}
