.feature {
  text-align: center;
  background: $fillGradient;
  box-sizing: border-box;
  margin: 4rem auto;
  padding: 0.625rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  box-shadow: 4px 4px 8px #00000099;

  &__title {
    color: $white;
    margin: 0;
    padding-bottom: 0.625rem;
  }

  &__viewer {
    background: $white;
    padding: 0.625rem 0;
    &--flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__container {
    width: 100%;
  }
}
