.nav-bar {
  background: $secondaryGradient;
  margin-bottom: 2rem;

  &__flex {
    display: flex;
  }

  &__item {
    margin: 0.625rem;
    padding: 0 0.625rem;
    box-sizing: border-box;
  }

  &__link{
    color: $white;
    text-decoration: none;
    transition: .4s;
    &:hover{
      color: $accent;
    }
  }

}
